body,
html {
  scroll-behavior: smooth;
}

.timeline-item:nth-child(odd) {
  flex-direction: row;
}

.anhTimeLine {
  padding-bottom: 20%
}

.anhBacHo {
  padding-bottom: 50%
}

@media screen and (max-width: 991px){
  .anhBacHo {
    padding-bottom: 60%
  }
  .anhTimeLine {
    padding-bottom: 50%
  }
}