<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
			<customHeaders>
				<!-- Cấp quyền truy cập tài nguyên từ các tên miền khác -->
				<add name="Access-Control-Allow-Origin" value="*"/>
				<add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,OPTIONS"/>
				<add name="Access-Control-Allow-Headers" value="Content-Type"/>
			</customHeaders>
		</httpProtocol>
        <rewrite>
			<rules>
				<clear />
				<!-- Điều hướng link www về link trang web -->
				<rule name="Redirect www" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{HOST}" pattern="www" />
					</conditions>
					<!-- THAY THẾ "tailieu.ine.vn" thành URL TRANG WEB -->
					<action type="Redirect" url="https://nhanht.thuctap.inevn.com/{R:0}" />
				</rule>
				<!-- Điều hướng sang link https -->
				<rule name="HTTPS" enabled="true" stopProcessing="true">
					<match url="(.*)" negate="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
				</rule>
				<!-- Link trang con hoặc file -->
				<rule name="Rewrite" enabled="true">
					<match url=".*" negate="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/" />
				</rule>
			</rules>
            </rewrite>
    </system.webServer>
</configuration>
